/* COMMON */
body{
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.ms_container_type1{
    width: 98%;
    margin: auto;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}


.btn{
    border-radius: 30px;
}

.btn:focus{
    box-shadow: none;
}

.row{
    height: 100%;
}

h2{
    font-size: 43px;
}
/* HEADER */
header{
    font-family: Helvetica, arial, sans-serif;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* LOGO-SONY */
.logo_sony{
    width: 100%;
    height: 36px;
    background-color: #000000;
}

.logo_sony img{
    height: 40%;
    margin: 0 15px;
}

/* MENU-HEADER */
nav{
    background-color: white;
}

.menu_header{
    width: 100%;
    height: 65px;
}

.menu_header .row{
    height: 100%;
}

.menu_links{
    width: 100%;
}

.menu_header i{
    margin: 0 5px;
    font-size: 10px;
}

.menu_links img{
    width: 4%;
}

.menu_links a{
    width: 10%;
}

.burger {
    text-align: right;
}

.burger i{
    font-size: 30px;
    border: 1px solid #e5e5e5;
    padding: 5px 13px;
    border-radius: 10px;
    color: #737373;
}

/* RIGHT-MENU */
.right_menu img{
    width: 25px;
}

.login_btn{
    background-color: #363636;
    color: white;
    border: none;
    margin: 0 15px;
    border-radius: 30px;
}

.login_btn:hover{
    background: white;
    color: #363636;
    border: 1px solid #363636;
}

/* MAIN */
main{
    margin-top: 105px;
}

/* JUMBOTRON */
.jumbotron{
    height: 700px;
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.jumbotron .container{
    height: 100%;
}

.jumbotron_content{
    width: 44%;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.jumbotron_content > *{
    margin: 20px 0;
}

.image_game_logo img{
    width: 420px;
}

.buy_now_btn{
    background-color: #cd3d0f;
    color: white;
    border: none;
    border-radius: 30px;
}

@media screen and (max-width: 991px ) {
    .jumbotron_content{
        width: 100%;
    }     
}

/* SLIDE-CONTROL */
.slide_control{
    padding: 20px 0;
}

.slide img{
    width: 100%;
    border-radius: 20px;
}

/* PLAYSTATION 5 */
/* PLAYSTATIOM-5-TITLE */
.ps5_title h2{
    margin-bottom: 20px;
}

.ps5_title p{
    font-size: 25px;
    color: #727272;
}

.ps5_title span{
    color: #0072ce;
}

/* CONSOLE PLAYSTATION 5 */
.console_ps5 img{
    width: 100%;
}

.console_ps5 p{
    font-size: 21px;
}

.ps5_image img{
    width: 100%;
}

.line_select_accessories{
    width: 100%;
    height: 2px;
    background-color: #0072ce;
}

.console_ps5_slide_selected{
    width: 20%;
}

.ps5_image{
    width: 80%;
}

.ps5_accessories_image img{
    width: 100%;
}

/* BANNER */
.banner{
    height: 700px;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner .container{
    height: 100%;
}

.banner_content{
    width: 40%;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.banner_content > *{
    margin: 20px 0;
}

.banner_content .image_game_logo img{
    width: 250px;
}

/* NEW RELEASES */
.new_releases{
    height: 700px;
    background-color: #1f1f1f;
    color: white;
}

.new_releases a{
    color: white;
}

.new_releases a:hover{
    color: #0a58ca;
}

.new_game_releases img{
    width: 100%;
}