/* COMMON */
body{
    font-family: Arial, sans-serif;
}

.ms_container_type1{
    width: 98%;
    margin: auto;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

/* HEADER */
header{
    font-family: Helvetica, arial, sans-serif;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* LOGO-SONY */
.logo_sony{
    width: 100%;
    height: 36px;
    background-color: #000000;
}

.logo_sony img{
    height: 40%;
    margin: 0 15px;
}

/* MENU-HEADER */
nav{
    background-color: white;
}

.menu_header{
    width: 100%;
    height: 65px;
}

.menu_header .row{
    height: 100%;
}

.menu_links{
    width: 100%;
}

.menu_links ul{
    width: 70%;
}

.menu_header i{
    margin: 0 5px;
    font-size: 10px;
}

.menu_links img{
    width: 4%;
}

.menu_links a{
    width: 10%;
}

.burger {
    font-size: 50px;
    text-align: right;
}

/* RIGHT-MENU */
.right_menu img{
    width: 25px;
}

.login_btn{
    background-color: #363636;
    color: white;
    border: none;
    margin: 0 15px;
}

.login_btn:hover{
    background: white;
    color: #363636;
    border: 1px solid #363636;
}

.login_btn:focus{
    box-shadow: none;
}

/* MAIN */
main{
    margin-top: 105px;
}

/* JUMBOTRON */
.jumbotron{
    height: 700px;
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}